
// blog page template


#blog-slider .item .image{
  margin: 0 auto;
  margin-bottom: 100px;
}
#blog-slider .item{
  overflow: visible !important;
}

#blog-slider .slider-overlap{
  width: 70%;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
}
.freatured-article .item img{
  margin: 0 auto;
  margin-bottom: -50px;
}


.blog-item .blog-img{
  transition: transform .4s ease-in-out;
  overflow: hidden;
}
.blog-item .blog-img-zoom{
  transition: transform .4s ease-in-out;
}
.blog-item:hover .blog-img-zoom{
  transform: scale(1.2) rotate(2deg);
}

.blog-side-title{
  position: relative;
  text-transform: uppercase;
}
.blog-side-title::after{
  content: '';
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 70px;
  height: 2px;
  background: #000;
}
.subscripbe .bx{
  background: #eee;
  margin-bottom: 7px;
  color: #000;
  transition: background .4s, color .4s;
}
.subscripbe .bx:hover{
  background: #000;
  color: #fff;
}

.ad-banner .ad-content{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000079;
}
.instagram-feed .feed-items{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}