
// color template

.color-primary{
    color: $color-primary;
}
.color-second{
    color: $color-secondary;
}
.color-orange{
    color: $color-orange;
}

.bg-color-primary{
    background-color: $color-primary;
}
.bg-color-second{
    background-color: $color-secondary;
}
.bg-color-orange{
    background-color: $color-orange;
}
.bg-color-black{
    background-color: $color-black;
}
.bg-color-gold{
    background-color: $color-gold;
}
.bg-color-silver{
    background-color: $color-silver;
}