
// shop page template

#shop-banner{
  .cta-overlap{
    top: 0;
    left: 0;
    background: #00000081;
  }
  .cta-overlap h5{
    font-size: 450%;
    color: #ffd900 !important;
  }
  .cta img{
    transition: transform 400ms ease-in-out;
  }
  .cta:hover img{
    transform: scale(1.3);
  }
}

.shopping-policy .bx,
.shopping-policy .fa,
.shopping-policy .fas,
.shopping-policy .far,
.shopping-policy .fab{
  font-size: 50px;
}