
// typography classes

.f-f-baloo{
    font-family: $font-baloo;
}
.f-f-rale{
    font-family: $font-rale;
}
.f-f-rubi{
    font-family: $font-rubi;
}

.font-size-s{
    font-size: 12px;
}
.font-size-m{
    font-size: 14px;
}
.font-size-n{
    font-size: 15px;
}
.font-size-l{
    font-size: 16px;
}
.font-size-xl{
    font-size: 20px;
}