

// fonts
$font-baloo : 'Baloo Thambi 2', cursive;
$font-rale : 'Raleway', cursive;
$font-rubi : 'Rubik', cursive;

// colors
$color-primary : #003859;
$color-secondary : #00a5c4;
$color-orange : #ff6600;
$color-black : #000;
$color-white : #fff;
$color-gold : #FFD700;
$color-silver : #c0c0c0;
